<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>rongCloud订餐管理</title>
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/admin.js"></script>
<link href="css/x.css" rel="stylesheet" type="text/css" />
</head>
<body class="managebody">
	<div class="orderBlockDiv">
		<div class="menuDiv">
			<div class="title">菜单:</div>
			<div class="content"></div>
		</div>
		<div class="dishDiv">
			<div class="title">
				<div class="editDiv">
					<label>餐名：</label> <input id="oneDish" type="text" name="dishName" />
					<input id="addDish" type="button" class="enjoy-css" value="添加" />
					<input id="deleteDish" type="button" class="enjoy-css" value="删除" />
					<input id="theEnd" type="button" class="enjoy-css" value="停止订餐" />
					<input id="endStat" type="text" style="display: none;" value="0">
				</div>
			</div>
		</div>
	</div>
	<div class="orderListDiv">
		<table class="gridtable">
			<tr>
				<th>餐名</th>
				<th width="30%">数量</th>
			</tr>
		</table>
	</div>
</body>
</html>
